<h3>Satellite Count:</h3>
<div class="counts">
	<div>Total: <span class="counts-total">{{satellites.length}}</span></div>
	<div id="countsDisplay" *ngIf="countByType('Communication')>0">Communication: <span class="counts-total">{{countByType("Communication")}}</span></div>
	<div id="countsDisplay" *ngIf="countByType('Space Debris')>0">Space Debris:<span class="counts-total">{{countByType("Space Debris")}}</span></div>
	<div id="countsDisplay" *ngIf="countByType('Probe')>0">Probe: <span class="counts-total" >{{countByType("Probe")}}</span></div>
	<div id="countsDisplay" *ngIf="countByType('Space Station')>0">Space Station:<span class="counts-total" >{{countByType("Space Station")}}</span></div>
	<div id="countsDisplay" *ngIf="countByType('Positioning')>0">Positioning <span class="counts-total" >{{countByType("Positioning")}}</span></div>
	<div id="countsDisplay" *ngIf="countByType('Telescope')>0">Telescope: <span class="counts-total" >{{countByType("Telescope")}}</span></div>
</div> 